---
layout: layouts/base.tsx

page_type: index
metas:
  type: website
---

<div class="flex flex-col items-center">
  <div class="py-8 px-auto">
    <h1 class="text-xl text-gray-600">Essays</h1>
  </div>

  <div class="mx-auto flex w-full max-w-6xl flex-wrap justify-center gap-8 px-4 sm:px-6">
    {% for post in search.pages("page_type=essay", "date=desc") %}
      <a href="{{ post.url }}" class="w-full rounded-md border py-5 hover:bg-light-300 sm:w-4/5 lg:w-[30%]">
        <article class="mx-auto flex max-w-full flex-col text-center px-2">
          <h2 class="text-xl font-semibold">{{ post.title }}</h2>
          <p class="text-base pt-3 opacity-70">{{ post.published_at }}</p>
        </article>
      </a>
    {% endfor %}

  </div>
</div>
